{% extends 'base.html' %}

{% block content %}

<center>
<form method="POST">
 {% csrf_token %}
    {{ form }}
 <input class='btn btn-warning' type="submit" value="Add">
</form>
</center>
<div class="container">
    <div class="row">
        <h2 class="mb-2 text-center my-3">{{ project.name }}</h2>
        <div class="col">
            <h4>Priority</h4>
        </div>
        <div class="col">
            <h4>Task</h4>
        </div>
        <div class="col">
            <h4>Deadline</h4>
        </div>
         <div class="col">
             <h4>Status</h4>
        </div>
        <hr>
    {% for t in tasks %}
        <div class="col">
            <h5>{{ t.priority }}</h5>
        </div>
        <div class="col">
            <h5>{{ t.name }}</h5>
        </div>
        <div class="col">
            <h5>{% if t.deadline %} {{ t.deadline }} {% endif %}</h5>
        </div>
         <div class="col">
             {% if 'Undone' in t.status %}
                 <h5 class="text-warning">{{ t.status }}</h5>
             {% else %}
                 <h5 class="text-success">{{ t.status }}</h5>
             {% endif %}
        </div>
        <hr>
    {% endfor %}
    </div>
</div>

{% endblock %}