{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="mb-2 text-center">Projects</h2>
        <hr>
    {% if projects %}
    {% for i in projects %}
        <div class="col">
            <h4><a class="link-dark" href="{{ i.id }}/">{{ i.name }}</a></h4>
        </div>
        <div class="col">
            <h4><a class='btn btn-warning' href="/delete_project{{ i.id }}">Delete</a> <a class='btn btn-warning' href="/edit_project{{ i.id }}">Edit</a></h4>
        </div>
        <hr>
    {% endfor %}
        {% endif %}
        </div>
</div>



{% endblock %}